{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": ["error", "ignorePackages", {
      "jsx": "always"
      }],
      "no-multiple-empty-lines": [2, {"max": 4}],
      "react/prop-types": 0,
      "max-len": [1, 150, 4],
      "no-console": "off",
      "linebreak-style": "off",
      "react/jsx-one-expression-per-line": 0

    }

  }

