{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "import/extensions": ["error", "ignorePackages", {
      "jsx": "always"
      }],
      "no-multiple-empty-lines": [2, {"max": 4}]
    }
  }