{
  "extends": ["airbnb", "airbnb/hooks"],

  "rules": {
    "import/extensions": ["error", "ignorePackages", {
      "jsx": "always"
      }],
      "no-multiple-empty-lines": [2, {"max": 4}],
      "react/prop-types": 0,
      "max-len": [1, 150, 4]

    }
  }

