.info-flex-container {
  display: flex;
}

.info-left-box {
    border-right: 2px solid black;
    padding-right: 20px
}

.info-right-box {
  padding-left: 20px;
}

.feature-list {
  padding: 0px;
  list-style-type: none;
}