
/* ------------------------ MAIN ------------------------ */

#RelatedItems {
  border: 10px rgb(41, 206, 4) solid;
  width: 1200px;
  margin: 48px auto;
  padding: 32px;
}
button {
  transition-property: transform;
  transition-duration: 500ms;
}
button:hover {
  transform: scale(1.2);

}
button:active {
  transform: scale(0.9);

}

/* ------------------------ CardContainers ------------------------ */

/* YourOutfitContainer */

#YourOutfitContainer {
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  overflow-x: hidden;
}

/* RelatedProductsContainer */

#CardContainerOutter {
  position: relative;
  display: flex;
  width: 100%;
  height: 330px;
  align-items: center;
  justify-content: center;
}

.faded {
  opacity: 0.1;
}

.left-arrow {
  position: absolute;
  left: -15px;
  height: 222px;
  width: 26px;
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
}
.left-arrow:hover {
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
  transform: scale(1.05);
}
.left-arrow:active {
  transform: scale(0.90);
}
.right-arrow {
  position: absolute;
  right: -15px;
  height: 222px;
  width: 26px;
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;

}
.right-arrow:hover {
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
  transform: scale(1.05);
}
.right-arrow:active {
  transform: scale(0.90);
}

#CardContainerMiddle {
  position: relative;
  overflow-x: hidden;
  width: 97%;
  height: 100%;
}

#CardContainerInner {
  display: flex;
  position: absolute;
  transition: 600ms;
}






/* ---------------- ProductsCard ---------------- */

.ProductsCard {
  position: relative;
  margin: 10px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
  padding: 8px;
  background-color: #f1f1f1;
  display: grid;
  align-content: space-between;
  border-radius: 17px;
}

.ProductsCard:hover {
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
}
#RelatedProductsCard:active {
  /* transform: scale(0.98); */
  box-shadow: rgb(211 14 14 / 67%) 0px 4px 8px 0px;
}

.card-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-starButton {
  position: absolute;
  right: 15px;
  top: 9px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 85px;
  background-color: rgb(255 255 255 / 62%);
}

.card-starButton:hover {
  color: rgb(233, 7, 146);

}
.card-starButton:active {
  transform: scale(0.90);


}
.card-removeButton {
  position: absolute;
  right:15px;
  top:15px;
  width:25px;
  height:25px;
  font-size: 14px;
  background-color: rgb(255 255 255 / 62%);
  border-radius: 50px;
  border: none;
}

.card-removeButton:hover {
  color: rgb(233, 7, 146);
}
.card-removeButton:active {
  transform: scale(0.90);
}
.card-category {
  font-size: 1.1rem;
  padding: 0 0 5px;
}
.card-name {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 0 5px;
}
.card-price {
  font-size: 1.3rem;
  padding: 0 0 5px;
}
/* ---------------- alreadyInOutfitCard ---------------- */


#alreadyInOutfitCard {
  margin: 10px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  padding: 8px;
  background-color: #b38a8a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 17px;

}
#alreadyInOutfitCard:hover {
  background: #e0ddd8;
  font-weight: bold;
}

/* ------------------------ addButtonCard ------------------------ */

#addButtonCard-plus {
  font-size: 80px;
  padding: 0 0 5px;
}
#addButtonCard-button {
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 15px;

}
#addButtonCard-button:hover {
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
  transform: scale(1.05);

}
#addButtonCard-button:active {
  transform: scale(0.90);
}

#addButtonCard {
  position: relative;
  margin: 10px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
  padding: 8px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ------------------------ Modal ------------------------ */


.modalCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  height: 30%;
  border-radius: 56px;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  padding: 48px 32px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 73%) 0px 1px 20px 0px;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  /* align-items: stretch;*/

}




/* ------------------------ Table ------------------------ */

.fixTableHead {
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;

}
.fixTableHead thead th {
  padding: 10px;
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  width: 90%;
  height: 90%;
  text-align: center;
  table-layout: fixed;

}
td {
  padding: 20px;
}
th {
  background: #e15686cf;
}

tr:nth-child(even) {
  background: rgb(200 200 200 / 27%);
}


/* table tbody, table thead
{
  display: block;
}

table tbody
{
  overflow: auto;
  height: 100px;
} */


/* .fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

} */