
/* ------------------------ MAIN ------------------------ */


button {
  transition-property: transform;
  transition-duration: 500ms;
  background-color: #fff;
}

button:hover {
  transform: scale(1.3);
  color: rgb(233, 7, 146);
  background: white;
  border: 0.1px solid rgb(233, 7, 146);
}

button:active {
  transform: scale(0.7);
}

/* ------------------------ CardContainers ------------------------ */

/* YourOutfitContainer */

#YourOutfitContainer {
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: flex-start;
  width: 1100px;
  overflow-x: hidden;
}

/* RelatedProductsContainer */

#CardContainerOutter {
  width: 100%;
  height: 330px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#CardContainerMiddle {
  width: 97%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

#CardContainerInner {
  display: flex;
  position: absolute;
  transition: 600ms;
}
/* ------------------------ Arrows ------------------------ */

.arrow {
  position: absolute;
  height: 222px;
  width: 26px;
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
}

.arrow:hover {
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
  transform: scale(1.05);
}

.arrow:active {
  transform: scale(0.90);
}

.left-arrow {
  left: -15px;
}

.right-arrow {
  right: -15px;
}

.faded {
  opacity: 0.1;
}

/* ---------------- ProductsCard ---------------- */

.ProductsCard {
  position: relative;
  margin: 10px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
  padding: 8px;
  display: grid;
  align-content: space-between;
  border-radius: 17px;
}

.ProductsCard:hover {
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
}

.card-img {
  position: relative;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.card-img-overlay {
  position: absolute;
  transition: .5s ease;
  background-color: rgb(169 77 133 / 64%);
  height: 50%;
  width: 92%;
  border-radius: 10px;
  top: 8px;
  left: 8px;
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 1;
}
.card-img-overlay:active {
  transform: scale(1.09);
}
.card-img-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 500;
}

.card-button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 85px;
}

.card-text {
  font-size: 1.3rem;
  padding: 0 0 5px;
}
.card-name {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 0 5px;
}

/* ---------------- alreadyInOutfitCard ---------------- */


#alreadyInOutfitCard {
  margin: 10px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  padding: 8px;
  background-color: #b38a8a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 17px;

}
#alreadyInOutfitCard:hover {
  background: #e0ddd8;
  font-weight: bold;
}

/* ------------------------ addButtonCard ------------------------ */

#addButtonCard-plus {
  font-size: 80px;
  padding: 0 0 5px;
}
#addButtonCard-button {
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 17px;
}
#addButtonCard-button:hover {
  transform: scale(1.05);
  background: #fef8ff;
  transition: .5s ease;
}

#addButtonCard {
  position: relative;
  margin: 10px;
  height: 300px;
  width: 200px;
  min-width: 200px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
  padding: 8px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ------------------------ Modal ------------------------ */


.modalCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 60%;
  height: 40%;
  border-radius: 56px;
  padding: 48px 32px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 73%) 0px 1px 20px 0px;
}




/* ------------------------ Table ------------------------ */

.fixTableHead {
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;

}
.fixTableHead thead th {
  padding: 10px;
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  width: 90%;
  height: 90%;
  text-align: center;
  table-layout: fixed;
}
td {
  padding: 10px;
}
th {
  background: #e15686cf;
}

tr:nth-child(even) {
  background: rgb(200 200 200 / 27%);
}