* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ratings And Reviews */
.mainPage {
  display: flex;
}

/* Stars Function */
.star-rating {
  display: flex;
  flex-wrap: wrap;
}

.reviewForm .star {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: grey;
  margin-bottom: .5rem;
  margin-top: .5rem;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: grey;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star:hover {
  background: gainsboro;
}

.star.selected {
  background-color: goldenrod;
}

.starTest {
  shape-rendering: crispEdges;
}

/* Review Tile */
#reviewTile {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  border-bottom: 1px #c2255c solid;
  margin-bottom: 1%;
  max-width: 60vw;
  min-width: 60vw;
  text-align: left;
}

.tileRow1 {
  display: flex;
  justify-content: space-between;
}

.reviewSummary {
  padding-top: 2%;
  padding-bottom: 2%;
}

.reviewBody {
  padding-top: 2%;
  padding-bottom: 2%;
}

.recommendProduct {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2%;
}

#reviewTile .buttons{
  border-bottom: 1px black solid;
  padding-left: 2px;
}

#reviewTile .reported{
  color: rgb(216, 25, 25);
  border-bottom: none;
  padding-left: 2px;
}

#reviewTile .buttons:hover {
  color: rgb(72, 69, 69);
  cursor: pointer;
}

#reviewTile .check {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1rem;
  padding-top: 2px;
}

#reviewTile .tileBotRow {
  font-size: 1.2rem;
}

#reviewTile .nameDate {
  display: flex;
  font-size: 1.4rem;
}

#reviewTile .verified {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 2px;
}

.photos .photo {
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}

/* Review List */

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 60vh;
  width:auto;
  overflow: auto;
}

.sorter {
  border-bottom: 1px black solid;
}

.sorter:hover {
  cursor: pointer;
}

.addReviews {
  margin-left: 1rem;
}

.material-symbols-outlined {
  position: relative;
  font-size: 20px;
}

.totalReviews {
  display: flex;
  gap: 6px;
  align-items: center;
}

.listDropdown {
  display: flex;
}

.listDropdown .dropdownOptions {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-bottom: 1rem;
}

/* Add Reviews */
.reviewForm {
  display: flex;
  border: 1px black solid;
  flex-direction: column;
  gap: 24px;
  max-width: fit-content;
  max-height: 50vh;
  min-width: 60vw;
  overflow: auto;
}

.reviewForm input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Rating Breakdown */
.ratingBreakdown {
  margin-right: 2rem;
}

.ratingBreakdown svg {
  width: 2.4rem;
  height: 2.4rem;
}

.rbRow1 {
  display: flex;
}

.rbRow1 .decimal{
  font-size: 4rem;
  padding-right: 1rem;
  font-weight: 900;
}

.progress {
  width: 16rem;
  border: 1px solid gray;
  height: 1rem;
  margin-top: auto;
  background-color: rgb(210, 207, 207);
}

.progress .progress__bar {
  height: 100%;
  background-color: #c2255c;
}

.starBar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 1rem;
}

.starBar span{
  border-bottom: 1px black solid;
  margin-right: 1.7rem;
  font-size: 1rem;
}

.starBar span:hover{
  cursor: pointer;
  color: rgb(72, 69, 69);
}

.breakRecommend {
  font-size: 1rem;
}

/* Product Breakdown */

.productBreakdown {
  margin-top: 2rem;
  margin-right: 2rem;
}

.productBreakdown span {
  font-size: 1.2rem;
}

.productBreakdown .progress {
  width: 8rem;
  border: 1px solid gray;
  height: .8rem;
  margin-top: auto;
  background-color: rgb(210, 207, 207);
}

.productBreakdown .progress .progress__bar {
  height: 100%;
  width: 0%;
}

.prodChar {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.prodBars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.prodRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 2px;
}

.prodBar .progress {
  position: relative;
}
.prodChar .arrowDown {
  height: 2.2rem;
  position: absolute;
}

/* Sorter */
.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  /* background: #ffffff; */
  /* border-radius: 90px; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4px 6px; */
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 30%); */
  /* border: none; */
  vertical-align: middle;
  /* transition: box-shadow 0.4s ease; */
  margin-left: auto;
}

/* .menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
} */

.menu-trigger span {
  font-weight: 700;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  font-size: 1rem;
  border-radius: 8px;
  position: absolute;
  top: 2rem;
  right: 0;
  width: 12rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 10px 15px;
  display: block;
}

.menu li a:hover {
  background-color: #c2255c;
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}